---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage1b';
import type { PageMetadata } from '@app/config/pages';
import { codeToHtml } from 'shiki';
import { PROJECT_REPO_URL } from '@app/config/repo';
import katex from 'katex';
import 'katex/dist/katex.min.css';

export const metadata: PageMetadata = {
  title: 'Проекция отрезков',
  groupTitle: 'Stage 1: Отрисовка стен',
};

const code1 = `
  function projectionToPoints(
    camera: Camera,
    vertexProjectionStart: VertexProjection,
    vertexProjectionEnd: VertexProjection,
  ): Vertex[] {
    const wallStartHeight = vertexProjectionStart.height;
    const wallEndHeight = vertexProjectionEnd.height;
    const horizontalHeight = camera.screen.height / 2;

    return [
      {
        x: vertexProjectionStart.screenX,
        y: horizontalHeight - wallStartHeight / 2,
      },
      {
        x: vertexProjectionStart.screenX,
        y: horizontalHeight + wallStartHeight / 2,
      },
      { x: vertexProjectionEnd.screenX, y: horizontalHeight + wallEndHeight / 2 },
      { x: vertexProjectionEnd.screenX, y: horizontalHeight - wallEndHeight / 2 },
    ];
  }

`;


const code2 = `
  function render25d(
    ctx: CanvasRenderingContext2D,
    settings: Settings,
  ) {
    for (const linedef of settings.level.linedefs) {
      const vertexProjectionStart = projectVertexToScreen(settings.camera, linedef.start);
      const vertexProjectionEnd = projectVertexToScreen(settings.camera, linedef.end);
  
      if (!vertexProjectionStart || !vertexProjectionEnd) {
        continue;
      }
  
      drawPolygon(
        ctx,
        projectionToPoints(settings.camera, vertexProjectionStart, vertexProjectionEnd),
      );
    }
  }

`;


const code1Html = await codeToHtml(code1, { lang: 'ts', theme: 'github-dark' });
const code2Html = await codeToHtml(code2, { lang: 'ts', theme: 'github-dark' });

const renderFormula = (latex: string) => katex.renderToString(latex, {
  displayMode: true,
  throwOnError: false,
  output: 'html',
  fleqn: false,
  leqno: false,
});
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <p class="text">
      На этом шаге мы можем воспользоваться следующей идеей: зная высоту предмета на конкретном расстоянии, мы можем найти его высоту на любом другом расстоянии, используя пропорцию. А зная высоту, мы можем получить координату Y для нижней и верхней части этого предмета.
    </p>
    <p class="text">
      Таким образом, для каждой вершины из отрезка мы вычисляем расстояние, затем получаем два значения Y для его верхней и нижней части. Теперь, если соединить эти точки, то мы получим четырехугольник.
    </p>
    <Stage part={0} client:load />
    <h2 class="text-2xl">
      Как это рассчитать
    </h2>
    <p class="py-2 text">
      Определим расстояние от позиции камеры до точки
    </p>
    <div class="bg-gray-100 border border-gray-200 p-4 text">
      <div set:html={renderFormula("d = \\sqrt{\\Delta x^2 + \\Delta y^2}")} />
    </div>
    <p class="py-2 text">
      Пусть на расстоянии 1 высота стены будет равна константе <code class="px-2 py-1 bg-gray-100 text-gray-800 text-xs font-semibold rounded">H wall</code>, тогда на расстоянии <code class="px-2 py-1 bg-gray-100 text-gray-800 text-xs font-semibold rounded">d</code>, высота:
    </p>
    <div class="bg-gray-100 border border-gray-200 p-4 text">
      <div set:html={renderFormula("h = \\frac{H_{\\text{wall}}}{d}")} />
    </div>
    <p class="py-2 text">
      На основе проекции <code class="px-2 py-1 bg-gray-100 text-gray-800 text-xs font-semibold rounded">screenX</code> на экран и найденной высоте стены <code class="px-2 py-1 bg-gray-100 text-gray-800 text-xs font-semibold rounded">h</code> формируем координаты четырехугольника.
    </p>
    <h2 class="text-2xl">
      Немного кода
    </h2>
    <p class="py-2 text">
      Ранее спроецированные точки достраиваем до четырехугольника:
    </p>
    <div set:html={code1Html} />
    <p class="py-2 text">
      И теперь на их основе рисуем многоугольник на экране:
    </p>
    <div set:html={code2Html} />
    <p class="my-2">
      <a href={`${PROJECT_REPO_URL}/stages/Stage1b/render25d.ts`} target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1 text-blue-600 hover:text-blue-800 hover:underline transition-colors" >Реализация шага на github</a>
    </p>
  </section>
</PageLayout>
