---
import PageLayout from '@app/layouts/PageLayout.astro';
import Stage from '@app/pages/stage/_islands/Stage1c';
import type { PageMetadata } from '@app/config/pages';
import { PROJECT_REPO_URL } from '@app/config/repo';
import katex from 'katex';
import 'katex/dist/katex.min.css';

export const metadata: PageMetadata = {
  title: 'Проблема Fish eye',
  groupTitle: 'Stage 1: Отрисовка стен',
};

const renderFormula = (latex: string) => katex.renderToString(latex, {
  displayMode: true,
  throwOnError: false,
  output: 'html',
  fleqn: false,
  leqno: false,
});
---

<PageLayout>
  <section class="flex flex-col gap-4">
    <p class="py-2 text">
      Если построить несколько линий в ряд и использовать формулу из прошлой заметки, то можно обнаружить, что изображение будто проходит через линзу — получается немного выпуклым. Этот эффект называется эффектом рыбьего глаза.
    </p>
    <Stage part={0} client:load />
    <p class="py-2 text">
      Дело в том, что вычисление высоты не зависело от угла относительно камеры. Благо, решается эта проблема очень просто:
    </p>
    <Stage part={1} client:load />
    <h2 class="text-2xl">
      Как это рассчитать
    </h2>
    <p class="py-2 text">
      Рассчитаем относительный угол между направлением камеры и направлением на вершину:
    </p>
    <div class="bg-gray-100 border border-gray-200 p-4 text">
      <div set:html={renderFormula("\\theta_{\\text{rel}} = \\theta_{\\text{vertex}} - \\theta_{\\text{camera}}")} />
    </div>
    <p class="py-2 text">
      Проекционное расстояние (с учётом угла обзора):
    </p>
    <div class="bg-gray-100 border border-gray-200 p-4 text">
      <div set:html={renderFormula("d = \\sqrt{\\Delta x^2 + \\Delta y^2}")} />
      <div set:html={renderFormula("d_{\\text{proj}} = d \\cdot \\cos(\\theta_{\\text{rel}})")} />
      <div set:html={renderFormula("h = \\frac{H_{\\text{wall}}}{d_{\\text{proj}}}")} />
    </div>
    <p class="my-2">
      <a href={`${PROJECT_REPO_URL}/stages/Stage1c/render25d.ts`} target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1 text-blue-600 hover:text-blue-800 hover:underline transition-colors" >Реализация шага на github</a>
    </p>
  </section>
</PageLayout>
